.border {
    display: flex;
    border: 1px dashed saddlebrown;
    padding: 1px 10px;
    margin-bottom: 10px;
}

.namesBlock {
    display: flex;
    align-items: center;
}

.img {
    width: 40px;
    height: 40px;
    margin-top: 10px;
    border-radius: 100%;
}

.h3 {
    color: #ff7700;
    margin-left: 30px;
    margin-right: 20px;
}