.modal {
    position: fixed;
    color: #000000;
    background-color: #f8f3f0;
    background-image: url("../../assets/img/pattern-light.jpg");
    background-position: 0 0;
    background-repeat: repeat;
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
    margin-left: 450px;
    margin-top: 30px;
}
.modal_login {
    top: 120px;
    left: 50%;
    width: 300px;
    padding: 50px 80px;
}

.modal_login_h2 {
    margin: 0;
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 42px;
}

.login_form_p {
    margin: 0;
    margin-bottom: 10px;
}

.login_form_input {
    box-sizing: border-box;
    width: 300px;
    padding: 10px 15px;
    padding-right: 40px;
    font: inherit;
    color: #000000;
    text-transform: uppercase;
    background-color: #f9f6f3;
    border: 2px solid #000000;
}

.login_form_input:focus {
    border-color: #663d15;
}

.login_icon_user {
    background-image: url("../../assets/img/user.svg");
    background-position: 270px center;
    background-repeat: no-repeat;
}

.login_icon_password {
    background-image: url("../../assets/img/lock.svg");
    background-position: 270px center;
    background-repeat: no-repeat;
}

.button {
    display: inline-block;
    padding: 10px 30px;
    width: 100%;
    margin-right: 0;
    font: inherit;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;
    background-color: #000000;
    border: none;
}

.button:hover,
.button:focus,
.button:active {
    background-color: #663d15;
}