.paginator_box {
    display: flex;
    justify-content: space-between;
    margin: 20px 140px;
}

.span {
    cursor: pointer;
    color: #676666;
}

.selectedPage {
    color: black;
    border: 1px solid black;
    border-radius: 100%;
}