.modal {
	position: fixed;
	color: #000000;
	background-color: #f8f3f0;
	background-image: url("../../assets/img/pattern-light.jpg");
	background-position: 0 0;
	background-repeat: repeat;
	box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
	margin-left: 450px;
	margin-top: 30px;
}
.modal_register {
	top: 120px;
	left: 50%;
	width: 300px;
	padding: 50px 80px;
}

.modal_register_h2 {
	margin: 0;
	margin-bottom: 20px;
	font-size: 20px;
	line-height: 42px;
}