.register_form_p {
	margin: 0;
	margin-bottom: 10px;
}

.register_form_input {
	box-sizing: border-box;
	width: 300px;
	padding: 10px 15px;
	padding-right: 40px;
	font: inherit;
	color: #000000;
	text-transform: uppercase;
	background-color: #f9f6f3;
	border: 2px solid #000000;
}

.register_form_input:focus {
	border-color: #663d15;
}

.register_icon_user {
	background-image: url("../../../assets/img/user.svg");
	background-position: 270px center;
	background-repeat: no-repeat;
}

.register_icon_password {
	background-image: url("../../../assets/img/lock.svg");
	background-position: 270px center;
	background-repeat: no-repeat;
}

.button {
	display: inline-block;
	padding: 10px 30px;
	width: 100%;
	margin-right: 0;
	font: inherit;
	text-align: center;
	color: #ffffff;
	vertical-align: middle;
	text-transform: uppercase;
	background-color: #000000;
	border: none;
}

.button:hover,
.button:focus,
.button:active {
	background-color: #663d15;
}